# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment
.env

# Tests
tests/

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log